name: .NET (Windows)

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x

      - name: Install MAUI workload
        run: dotnet workload install maui --ignore-failed-sources

      - name: Restore (Windows RID)
        run: dotnet restore .\LTKCC\LTKCC.csproj -f net8.0-windows10.0.19041.0 -r win-x64

      - name: Build (Windows RID)
        run: dotnet build .\LTKCC\LTKCC.csproj -c Release -f net8.0-windows10.0.19041.0 -r win-x64 --no-restore
